.addImage-btn{
    height: 44px;
    position: fixed;
    right: 90px;
    bottom: 70px;
    z-index: 10;
    cursor: pointer;
}
.plantCard-div{
    display: flex;
    flex-wrap: wrap;
    margin-left: 150px;
}
.heading{
    text-align: center;
    margin-top: 60px;
    color: #143114;
}
body{
    background-color: #d9f2d9;
}